.page1 {
    background: black;

}

header {
    position: sticky; /* Keeps the header stuck at the top */
    top: 0; /* Position the header at the very top */
    z-index: 1000; /* Ensures the header is above other elements */
    background: white; /* Add a background color to prevent transparency */
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Parkinsans", sans-serif;
    padding: 5px 20px;
    box-shadow: 0 2px 5px rgba(231, 152, 27, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 15px;
    gap: 15px; /* Space between logo and name */
}

.logo {
    height: 40px; /* Adjust as needed for the logo size */
}

.name-link {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 60px; /* Adjust spacing between navigation links */
    padding: 0.3em 0.5em;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

header a:hover {
    color: #555;
}

header h1:hover {
    color: #555;
}

.name {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    left: 5%;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-family: "Alfa Slab One", serif;
    font-size: small;
    font-style: normal;
    text-align: center;
    background: black;
    color: transparent;
}

.hello h1 {
    font-size: 20rem;
    background: url('Desktop - 5.jpg') no-repeat center center / cover;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

/* im passionate */
.passion {
    background-color: black;
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 20px;
    height: 50vh;
    padding: 10px;
    font-family: "Parkinsans", sans-serif;

    .passion h1 {
        font-size: 1.5rem;
         margin-bottom: 10px;
    }

    .passion p {
         font-size: 1.2rem;
         line-height: 1.8;
         max-width: 1500px;
         margin: 0 auto;
    }
}

/* whatido */
.whatido {
    height: 400px;
    background-color: black;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 40px 20px;
    font-family: "Parkinsans", sans-serif;

    .whatido h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
    }

    .card {
        background-color: #111;
        padding: 25px;
        width: 425px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    }

    .card h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    .card p {
        font-size: 1rem;
        line-height: 1.5;
    }
}